.scrollTop {
    font-size: 30px;

    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;

    cursor: pointer;

    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
    transform: scale(1);
    color: #007afd79;
    }
    50% {
    transform: scale(1.4);
    color: #007afd;
    }
    100% {
    transform: scale(1);
    color: #007afd79;
    }
    }

    @media(max-width: 390px){
      .scrollTop{
        font-size: 50px;
        bottom: 30px;
        right: 10px;
      }
      
      }