.cartProject{
    display: flex;
    justify-content: space-around;

    border-bottom: 2px solid #cfcdcd;
    padding-bottom: 20px;
}

.cartInfo{
    width: 500px;
    
    display: flex;
    flex-direction: column;
    gap:30px 
}

.cartInfo a{
    text-decoration: none;
    font-family: "Heebo";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.cartInfo p{
    font-family: "Heebo";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}

.cartProject img{
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
    border-radius: 50%;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cartProject img:hover {
    transform: scale(1.5);
    transition: transform 0.8s ease-in-out;
}
.toolsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 170px)  minmax(90px, 170px) minmax(80px, 170px) minmax(170px, 170px));


    align-items: center;
    column-gap: 10px;
}
.tools{
    margin: 5px;
    text-align: center;
    background-color: #8d9fc97d;
    border-radius: 20px;
}


@media (max-width: 900px){
    .cartProject{
        width: 800px;
    }
}

@media (max-width: 600px){
    .cartProject{
        width: 500px;
        align-items: center;
        flex-direction: column;
    }
    .cartProject img{
    width: 150px;
    }
    .cartInfo {
        text-align: justify;
    }
}

@media (max-width: 390px){
    .cartProject{
        width: 390px;
    } 
    .cartInfo{
        width: 350px;
    }
    .toolsContainer{
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)  minmax(30px, 175px));
    }
}

