.resumeContainer{
    margin-bottom: 100px;
    font-family: "Heebo";
    font-weight: 300;
}

.works_container{
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    gap: 100px;
}

.works_container
 h2{
    width: 180px;
}

.job{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.skills_container{
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 250px;
    width: 1100px;
    margin-top: 50px;
}

.skills_container
 h2{
    width: 200px;
}

ul{
    width: 350px;
    padding-left: 25px;

    display: flex;
    flex-direction: column;
}